<div class="border p-lg-5 col-12">
    <div class="h2 font-weight-bold" style="font-family: 'Arial Black'">
        <span>Search hundreds of travel sites at once</span>
    </div>

    <div class="row">
        <div class="col-2">
            <app-simple-selector [settings]="flightTypeSelectorSettings"></app-simple-selector>
        </div>

        <div class="col-5">
            <app-passenger-selector>
            </app-passenger-selector>
        </div>

        <div class="col-3">
            <app-simple-selector [settings]="travelClassSelectorSettings"></app-simple-selector>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <mat-toolbar>
                <app-place-selector
                    #originSelector
                    [labelTitle]="'From?'"
                    [type]="'origin'"
                    (selectedChange)="handleOriginSelectedChange($event)">
                </app-place-selector>
            </mat-toolbar>
        </div>

        <div>
            <mat-toolbar>
                <mat-button-toggle>
                    <mat-icon
                            class="fa fa-sync-alt"
                            (click)="handleSwapButtonClick($event)">
                    </mat-icon>
                </mat-button-toggle>
            </mat-toolbar>
        </div>

        <div class="col-3">
            <mat-toolbar>
                <app-place-selector
                    #destinationSelector
                    [labelTitle]="'To?'"
                    [type]="'destination'"
                    (selectedChange)="handleDestinationSelectedChange($event)">
                </app-place-selector>
            </mat-toolbar>
        </div>

        <div>
            <mat-toolbar>
                <mat-form-field>
                    <input matInput [satDatepicker]="resultPicker">
                    <sat-datepicker #resultPicker
                                    [rangeMode]="true"
                                    [closeAfterSelection]="false">
                    </sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="resultPicker"></sat-datepicker-toggle>
                </mat-form-field>
            </mat-toolbar>
        </div>
    </div>
</div>
