<div class="border p-lg-5 col-9">
    <div class="h2 font-weight-bold" style="font-family: 'Arial Black'">
        <span>Search hundreds of travel sites at once</span>
    </div>

    <div class="row">
        <div class="col-3">
            <app-simple-selector [settings]="flightTypeSelectorSettings"></app-simple-selector>
        </div>

        <div class="col-3">
            <app-simple-selector [settings]="travelClassSelectorSettings"></app-simple-selector>
        </div>
    </div>

    <div class="row">
        <div class="m-1">
            <mat-toolbar>
                <mat-toolbar>
                    <mat-select-autocomplete
                            class=""
                            placeholder='From?'
                            [display]="'name'"
                            [value]="'id'"
                            [labelCount]="4"
                            [options]="origins"
                            [multiple]="true">
                    </mat-select-autocomplete>
                </mat-toolbar>
            </mat-toolbar>
        </div>

        <div class="m-1">
            <mat-toolbar>
                <mat-icon class="fa fa-sync-alt"></mat-icon>
            </mat-toolbar>
        </div>

        <div class="m-1">
            <mat-toolbar>
                <mat-select-autocomplete
                        class=""
                        placeholder='To?'
                        [display]="'name'"
                        [value]="'id'"
                        [labelCount]="4"
                        [options]="origins"
                        [multiple]="true">
                </mat-select-autocomplete>
            </mat-toolbar>
        </div>

        <div class="m-1">
            <mat-toolbar>
                <mat-form-field>
                    <input matInput [satDatepicker]="resultPicker">
                    <sat-datepicker #resultPicker
                                    [rangeMode]="true"
                                    [closeAfterSelection]="false">
                    </sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="resultPicker"></sat-datepicker-toggle>
                </mat-form-field>
            </mat-toolbar>
        </div>
    </div>
</div>

<div class="row">
    <label class="text-capitalize">adults</label>
    <span>18-64</span>
    <app-simple-number-box></app-simple-number-box>

</div>
