<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
        <div class="col-md-12">
            <ng-container *ngFor="let passengerType of options">
                <app-option-passenger-selector
                        [name]="passengerType.name"
                        [age]="passengerType.age">
                </app-option-passenger-selector>
            </ng-container>
        </div>
    </div>

</mat-expansion-panel>
